<template name="layout_header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ pathFor route='view1' }}">
                    {{{i18n 'dapp.app.title'}}}
                </a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
                    <a href="{{ pathFor 'view1' }}">
                        {{{i18n 'dapp.app.buttons.view1'}}}
                    </a>
                </li>
				<li>
                    <a href="{{ pathFor 'view2' }}">
                        {{{i18n 'dapp.app.buttons.view2'}}}
                    </a>
                </li>
				<li>
										<a href="{{ pathFor 'admin' }}">
												{{{i18n 'dapp.app.buttons.admin'}}}
										</a>
								</li>
				<li>
										<a href="{{ pathFor 'userEdit' }}">
												{{{i18n 'dapp.app.buttons.userEdit'}}}
										</a>
								</li>
				<li>
					{{> loginButtons align = "right"}}
								</li>
			</ul>
		</div>
	</nav>
</template>
